//
//  Config.xcconfig
//  Core
//
//  Created by 류희재 on 2023/11/17.
//  Copyright © 2023 hellohidi. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/api.openweathermap.org/data/2.5
API_KEY = 7618d35ff394f5dd39212928a3a4692f
